
@import "../utils/typography.scss";
.sm-container {
    background-color: #ecf2f6;
    header {
        background-color: #0083c2;
        padding: 20px 15px;
        .title {
            float: left;
            width: 40%;
        }
        .search-field {
            float: right;
        }
    }
}
.sm-landing {
    &-container {
        background-color: #ecf2f6;
        header {
            background-color: #0083c2;
            padding: 20px 15px;
            .title {
                float: left;
                width: 40%;
            }
            .search-field {
                float: right;
            }
        }
    }
    &-chart {
        display: inline-block;
    }
    &-desc {
        display: inline-block;
    }
    &-btn-desc,
    &-btn-section {
        display: inline-flex;
    }
    &-section {
        display: flex !important;
    }
    &-description {
        margin: 20px !important;
    }
    &-btn {
        border-radius: 25px !important;
        margin: 20px !important;
    }
}
