@import "../../utils/typography.scss";
.user-skill-list {
  &-section {
    background-color: #ecf2f6;
    margin: 30px 15px;
    width: 625px;
  }
  &-table {
    // margin: 15px;
    text-align: center;
    width: 600px;
  }
  &-text{
    color: #6f7d96 !important;
    font-family: 'Noto Serif', serif !important;
    a {
      color: #6f7d96 !important;
      font-family: 'Noto Serif', serif !important;
      text-decoration: none;
    }
  }
  &-title {
    background-color: #6f7d96;
    color: #fff !important;
    font-family: 'Noto Serif', serif !important;
    font-size: 18px !important;
  }
}