@import "../../utils/typography.scss";
.sm-ct-modal {
  &-container {
    background-color: #fff !important;
  }
  &-form-container {
    .textfield,
    .drpdown {
      margin: 10px 15px 0;
      width: 33%;
    }
    label,
    [class*="MuiInput-FormLabel-focused"] {
      color: #6f7d96 !important;
      font-family: 'Noto Serif', serif !important;
    }
    [class*="MuiInput-FormLabel-focused-"] {
      margin-top: 15px !important;
    }
    [class*="MuiInput-underline-"] {
      &:before,
      &:after,
      &:hover {
        border-bottom: 1px solid #6f7d96 !important;
      }
    }
  }
  &-skill-sec-title {
    color: #0083c2;
    margin: 15px 15px 0;
  }
  &-form-section {
    margin: 10px;
    h1 {
      color: #0083c2;
      margin: 0 15px;
    }
  }
  &-form-fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &-form-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &.add,
    &.clear {
      background-color: #0083c2;
      color: #fff;
      margin: 30px 15px;
      min-height: 48px;
      width: 200px;
      &:hover {
        background-color: #0083c2 !important;
      }
    }
  }
  &-close-button {
    color: #0083c2 !important;
  }
  &-button-wrapper {
    position: absolute;
    right: rem(32px);
    top: rem(10px);
    @media screen and (min-width: 1087px) {
      right: 0;
    }
  }
  &-button {
    height: rem(30px);
    width: rem(30px);
    color: #ffffff;
    background-color: rgba($color: #000000, $alpha: 0.08);
    &:hover {
      color: #ffffff;
    }
  }
  &-form-btn {
    display: inline;
  }
}